
<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Chat window Switch</title>


        <link rel="stylesheet" href="css/override.css">

        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

        <link rel="stylesheet" href="css/style.css">
        <!--<script src="/socket.io/socket.io.js"></script>-->
        <!--        <script src="/socket.io/socket.io.js"></script>-->
<!--        <script src="libs/bower_components/socket.io-client/dist/socket.io.js"></script>-->


    </head>

    <body>

        <div class="menu">
            <div class="userAvatar"></div>
            <div class="name">User</div>
            
        </div>
        <ol class="chat">

        </ol>
        <input id="userfield" class="textarea" data-bind="ojComponent: {component: 'ojInputText', 
                                  value:userMsg}"
               type="text" placeholder="Scrieti mesajul aici!"/><div class="userAvatar"></div>

    </body>
</html>
